<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sotremi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sotremi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sotremi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$sotremi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="CnxSQL" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:server-andromeda.database.windows.net,1433;Initial Catalog=DBSOTREMI;User ID=admin_server_21@server-andromeda;Password=@Systems21" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ENRIQUE\SQL2014;Initial Catalog=DBSOTREMI;User ID=sa;Password=Enrique21" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CnxSQL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ENRIQUE\SQL2014; Initial Catalog = DBSOTREMI;User Id=sa;Password=Enrique21;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CnxSQL-Web.config Connection String">
      <ParameterValue>Data Source=tcp:server-andromeda.database.windows.net,1433;Initial Catalog=DBSOTREMI;User ID=admin_server_21@server-andromeda;Password=@Systems21</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>